.container-fluid,
.container {
  padding: 0 1rem;
}
.container-fluid .row,
.container .row {
  margin: 0 -1rem;
  padding: 1rem 0 0;
  border-bottom: 1px #d4d4d4 solid;
}
.container-fluid .row:last-child,
.container .row:last-child {
  border: none;
}
.container-fluid .row > *,
.container .row > * {
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.container-fluid .row > * > *,
.container .row > * > * {
  margin-bottom: 0.5rem;
}
.container-fluid .row .row,
.container .row .row {
  padding: 0;
  border: none;
}
.container-fluid .row .row > *,
.container .row .row > * {
  margin-bottom: 0.25rem;
}
.container-fluid .row .row > * > *,
.container .row .row > * > * {
  margin-bottom: 0.25rem;
}
.container-fluid .op-box,
.container-fluid .insight-card,
.container .op-box,
.container .insight-card {
  border-radius: 3px;
  padding: 0 1rem;
  background: #fff;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.075), 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.125);
}
.container-fluid .op-box > .row,
.container-fluid .insight-card > .row,
.container .op-box > .row,
.container .insight-card > .row {
  padding: 1rem 0 0.5rem;
  border-bottom: 1px #d4d4d4 solid;
}
.container-fluid .op-box > .row:last-child,
.container-fluid .insight-card > .row:last-child,
.container .op-box > .row:last-child,
.container .insight-card > .row:last-child {
  border-bottom: 0;
}
.container-fluid .op-box.insight-border,
.container-fluid .insight-card.insight-border,
.container .op-box.insight-border,
.container .insight-card.insight-border {
  padding: 0;
  background: none;
  box-shadow: none;
}
.container-fluid .op-box.insight-border:last-child,
.container-fluid .insight-card.insight-border:last-child,
.container .op-box.insight-border:last-child,
.container .insight-card.insight-border:last-child {
  margin-bottom: 0;
}
.container-fluid .op-box.insight-border .row,
.container-fluid .insight-card.insight-border .row,
.container .op-box.insight-border .row,
.container .insight-card.insight-border .row {
  padding: 0;
}
.container-fluid .op-box.insight-border .row:last-child,
.container-fluid .insight-card.insight-border .row:last-child,
.container .op-box.insight-border .row:last-child,
.container .insight-card.insight-border .row:last-child {
  margin-bottom: 0;
}

#header, #headerow {
  background: #f6960f;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 2;
}
#header .row, #headerow .row {
  height: 3.75rem;
  padding: 0.5rem 0 0;
}
#header .row > *, #headerow .row > * {
  margin-bottom: 0;
}
#header .row .menu-toggle, #headerow .row .menu-toggle {
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-hide #header .row .menu-toggle, .menu-hide #headerow .row .menu-toggle {
  transform: rotate(90deg);
}
#header .row #logo, #headerow .row #logo {
  max-height: 2rem;
  user-select: none;
}
#header .row .dark-mode-toggle, #headerow .row .dark-mode-toggle {
  user-select: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-mode #header .row .dark-mode-toggle, .dark-mode #headerow .row .dark-mode-toggle {
  transform: rotateY(180deg);
}
#header #product_name, #headerow #product_name {
  max-height: 1.75rem;
  user-select: none;
  margin-left: 0.5rem;
}
#header input, #headerow input {
  border-color: #f6960f;
}

#sideMenu {
  width: 12rem;
  border-right: 1px #d4d4d4 solid;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 3.75rem;
  bottom: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  font: 0.75rem/1 Source Sans Pro, Noto Sans SC, Microsoft YaHei, STXihei, serif;
}
@media (min-width: 1200px) {
  #sideMenu {
    font-size: inherit;
  }
}
.menu-hide #sideMenu {
  transform: translateX(calc(-50% + 1rem));
  opacity: 0;
}
#sideMenu:after {
  content: "";
  background: linear-gradient(0deg, #fafafa 15%, rgba(250, 250, 250, 0) 100%);
  width: calc(12rem - 1px);
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
#sideMenu ul.sidebar-menu,
#sideMenu ul#menu {
  list-style: none;
  padding: 0;
  margin-bottom: 3rem;
}
#sideMenu ul.sidebar-menu .dropbtn,
#sideMenu ul#menu .dropbtn {
  display: none;
}
#sideMenu ul.sidebar-menu li,
#sideMenu ul#menu li {
  margin: 0 -0.5rem;
}
#sideMenu ul.sidebar-menu li a,
#sideMenu ul#menu li a {
  color: inherit;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.375rem 0.5rem;
  padding: 0.5rem;
  opacity: 0.55;
  opacity: 0.75;
  border-radius: 3px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
#sideMenu ul.sidebar-menu li a:hover,
#sideMenu ul#menu li a:hover {
  background: #e0e0e0;
  cursor: pointer;
}
#sideMenu ul.sidebar-menu li a.active,
#sideMenu ul#menu li a.active {
  opacity: 1;
}
#sideMenu ul.sidebar-menu li a i,
#sideMenu ul.sidebar-menu li a .material-icons,
#sideMenu ul#menu li a i,
#sideMenu ul#menu li a .material-icons {
  margin-right: 0.75rem;
  color: #666666;
}
#sideMenu ul.sidebar-menu li a .material-icons,
#sideMenu ul#menu li a .material-icons {
  font-size: calc(24px * 0.75);
}

#main-content {
  position: fixed;
  overflow-y: auto;
  top: 3.75rem;
  left: 12rem;
  bottom: 0;
  width: calc(100vw - 12rem);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
#main-content .container-fluid.opfw {
  padding: 0;
}
.menu-hide #main-content {
  left: 0;
  width: 100vw;
}
.sidebar-closed #main-content {
  top: 0;
  left: 0;
  width: 100%;
}
#main-content > .row:last-child {
  border: none;
}

html {
  font-size: 16px;
}

body {
  font: 1rem/1.5 Source Sans Pro, Noto Sans SC, Microsoft YaHei, STXihei, serif;
  background: #fafafa;
  color: #404040;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: none;
}

h1 {
  font: 1.75rem/1 Poppins, Source Sans Pro, Noto Sans SC, Microsoft YaHei, STXihei, serif;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin-top: 0.25rem;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

label {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: inherit;
}

.btn {
  font-weight: 700;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

#headerow {
  background: linear-gradient(45deg, #f6960f 0%, #fb4c03 100%);
}

/*# sourceMappingURL=style.css.map */
