@import "includes/variables";

//COLOR OVERRIDES
$xvc-red: #cd1d1d;
$color-primary: darken($xvc-red,5%);

$transport-yellow: #f6960f;
$color-primary: $transport-yellow;

$color-primary-bright: saturate($color-primary,35%);
$color-primary-dark: darken($color-primary,15%);

@import "includes/layout";

html {
  font-size: 16px;
}

body {
  font: 1rem/1.5 $font-base;
  background: $color-background;
  color: $color-base;
  font-size: 0.9rem;
}

a {
  &:hover {
    text-decoration: none;
  }
}


h1 {
  font: 1.75rem/1 $font-primary;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin-top: 0.25rem;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
}

label {
  margin-bottom: 0.25rem;
  font-size: $gamay;
  text-transform: uppercase;
  font-weight: inherit;
}
.btn {
  font-weight: 700;
  transition: $transition;
}

#headerow {
  background: linear-gradient(45deg, rgba(246,150,15,1) 0%, rgba(251,76,3,1) 100%);
}