

// BOOTSTRAP 4
.container-fluid,
.container {
  padding: 0 1rem;
  .row {
    margin: 0 -1rem;
    padding: 1rem 0 0;
    border-bottom: $border;

    &:last-child {
      border: none;
    }
    > * {
      padding: 0 1rem;
      margin-bottom: 0.5rem;
      transition: $transition;
      > * {
        margin-bottom: 0.5rem;
      }
    }
    //NESTED ROWS
    .row {
      padding: 0;
      border: none;
      > * {
        margin-bottom: 0.25rem;
        > * {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
  .op-box,
  .insight-card {
    border-radius: $border-radius;
    padding: 0 $grid-padding;
    background: #fff;
    transition: $transition;
    box-shadow: $box-shadow;

    > .row {
      padding: $grid-padding 0 $grid-padding/2;
      border-bottom: $border;

      &:last-child {
        border-bottom: 0;
      }
    }

    &.insight-border {
      padding: 0;
      background: none;
      box-shadow: none;

      &:last-child {
        margin-bottom: 0;
      }
      .row {
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}



#header,#headerow {
  // font-size: $font-size-gamay;
  background: $color-primary;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 2;

  .row {
    height: $height-header;
    padding: 0.5rem 0 0;
    > * {
      margin-bottom: 0;
    }
    .menu-toggle {
      user-select: none;
      transition: $transition;
      .menu-hide & {
        transform: rotate(90deg);
        //transform: rotate(360deg);
      }
    }
    #logo {
      max-height: 2rem;
      user-select: none;
    }
    .dark-mode-toggle {
      user-select: none;
      transition: $transition;
      .dark-mode & {
        transform: rotateY(180deg);
      }
    }
  }

  #product_name {
    max-height: 1.75rem;
    user-select: none;
    margin-left: 0.5rem;
  }
  input {
    border-color: $color-primary;
  }
}

//#sidebar,
#sideMenu {
  width: $width-sidebar;
  border-right: $border;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: $height-header;
  bottom: 0;
  transition: $transition;
  font: 0.75rem/1 $font-base;
  //background: $color-primary;

  @media (min-width: 1200px) {
    font-size: inherit;
  }
  .menu-hide & {
    transform: translateX(calc(-50% + 1rem));
    opacity: 0;
  }
  &:after {
    content: "";
    background: linear-gradient(0deg, #{($color-background)} 15%, #{rgba($color-background, 0)} 100%);
    width: calc(#{$width-sidebar} - 1px);
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
  ul.sidebar-menu,
  ul#menu {
    list-style: none;
    padding: 0;
    margin-bottom: 3rem;
    // min-height: 500vh;

    .dropbtn {
      display: none;
    }
    li {
      margin: 0 -0.5rem;
      a {
        color: inherit;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.375rem 0.5rem;
        padding: 0.5rem;
        opacity: 0.55;
        opacity: 0.75;
        border-radius: $border-radius;
        transition: $transition;
        //  transition: all 0.1s ease-in-out;
        &:hover {
          background: darken($color-background, 10%);
cursor: pointer;
        }

        &.active {
          opacity: 1;
          //font-weight: 600;
          .material-icons {
            // color: $color-primary;
          }
        }
        i,
        .material-icons {
          margin-right: 0.75rem;
          color: lighten($color-base, 15%);
        }
        .material-icons {
          font-size: calc(24px * 0.75);

        }
      }
    }
  }
}

#main-content {
  position: fixed;
  overflow-y: auto;
  top: $height-header;
  left: $width-sidebar;
  bottom: 0;
  width: calc(100vw - #{$width-sidebar});
  transition: $transition;

  .container-fluid.opfw { //temp fix only for existing layouts
    padding: 0;
  }
  .menu-hide & {
    left: 0;
    width: 100vw;
  }

  .sidebar-closed & {
    top: 0;
    left: 0;
    width: 100%;
  }

  > .row:last-child {
    border: none;
  }
}