

$font-base: Source Sans Pro, Noto Sans SC, Microsoft YaHei, STXihei, serif;
$font-primary: Poppins, $font-base;
$font-mono: Roboto Mono, $font-base;


$color-background: darken(#fff,2%);
$color-border: darken($color-background, 15%);
$color-base: lighten(#000, 25%);
$border: 1px $color-border solid;


$transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

$height-header: 3.75rem;
$width-sidebar: 12rem;
$row-padding: 1rem;

$gamay: 0.75rem;

$grid-padding: 1rem;

$box-shadow: 0 0.25rem 1rem 0 rgba(#000, 0.075), 0 0.125rem 0.5rem 0 rgba(#000, 0.125);
$box-shadow-hover: 0 0.25rem 1rem 0 rgba(#000, 0.25), 0 0.125rem 0.5rem 0 rgba(#000, 0.125);

$border-radius: 3px;

